doctype html
html
  head
    +h.headers
    +h.load('jquery')
    +h.load('/fb_static/lib/textcomplete/jquery.textcomplete.min.js')
    script(src='https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js')
    script(src='https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js')
    link(href='https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css', rel='stylesheet')
    link(href='https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css', rel='stylesheet')
    link(href='/template/style.css', rel='stylesheet')
    meta(name='referrer', content='no-referrer')
    
    block title
      title= site.title
  body
    #container
      #banner
        h1#site-title
          a(href='/')= site.title
        p#site-subtitle= site.configs.description
      #content
        block content
      nav#footer
        ul#footer-links
          li
            a.zh(href='/About') 关于我
          li
            a.zh(href='/Books') 书单
          li
            a(href='/feed') RSS
          li
            a(href="https://bitcron.com", target="_blank") Bitcron
  script
    (function() {
      (function($) {
        return $(document).on('click', '.extra-switch', function() {
          return $('.extra').toggle('fast');
        }).pjax('a', '#content', {
          fragment: '#content',
          timeout: 10000
        }).on('pjax:send', function() {
          return $('#content').fadeTo(0, 0);
        }).on('pjax:complete', function() {
          return $('#content').fadeTo("fast", 1);
        });
      })(jQuery);
    }).call(this);
    $(document).on('pjax:complete', function() {
      $('div.highlight pre').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    })